
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(251, 86, 48);
}

.paginaCadastro {
    background-color: rgb(168, 167, 167);
}

/* ------ HEADER _____ CABEÇALHO -----------------------------------------------------------------------------------------------------------------------------*/

header {
    width: 100%;
    height: 60px;
    color: rgba(245, 245, 245);
    background-color: rgba(251, 86, 48);
}

.cabePrincipal {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}
header img {
    height: 45px;
    margin-right: 10px;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    cursor: pointer;
    margin: 0;
    margin-left: auto;
    
}

/* ------ NAV _____ MENU -----------------------------------------------------------------------------------------------------------------------------*/

.menuHorizontal {
    width: 100%;
    background-color: rgb(246, 127, 53);
}

.menuHorizontal ul {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menuHorizontal ul li {
    list-style: none;
}

.menuHorizontal ul li a {
    font-size: 15px;
    color: rgba(245, 245, 245);
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.menuHorizontal ul li a:hover {
    background-color: rgba(245, 245, 245);
    color: rgba(251, 86, 48);
}


button {
    display: flex;
    align-items: center;
}

button img {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
}



#logoxhopii {
    object-fit: cover;
    height: 70px;
}

#login {
    justify-items: center;
    width: 30%;
    margin-left: 35%;
    height: 300px;
    margin-bottom: 5%;
    margin-top: 90px;
    background-color: rgba(245, 245, 245);
}

#sms {
    color: blue;
}

#CadastroCliente, #CadastroFuncionario, #CadastroProduto, #CadastroLoja, #CadastroCupom {
    background-color: rgba(245, 245, 245);
    width: 400px;
    margin: 20px auto 0 auto;
    
    padding: 1% 10% 1% 10%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,1);
    text-align: center;
}

#CadastroCliente h2, #CadastroFuncionario h2, #CadastroProduto h2, #CadastroLoja h2, #CadastroCupom h2 {
    color: rgba(251, 86, 48);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    padding: 5% 0 10% 0;}

.linha {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.linha h4 {
    color: rgba(251, 86, 48);
    font-family: Arial, Helvetica, sans-serif;
}

.linha input {
    width: 90%;
    padding: 4% 10%;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 2px;
    font-size: 13px;
    outline: none;
    margin: 1% 0 1% 0;
    font-family: Arial, Helvetica, sans-serif;
}

.linha input:focus {
    border-color: rgba(251, 86, 48);
}

#botaoCadastrar {
    width: 100%;
    padding: 12px;
    background-color: rgba(251, 86, 48);
    color: rgba(245, 245, 245);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    margin-top: 10px;
}

#botaoArquivo {
    background-color: white;
    color: rgba(251, 86, 48);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(251, 86, 48);
    border-radius: 15px;
    width: 40%;
    height: 40px;
    margin: 0 20px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
    font-size: 15px;
    
}

.linha button:hover {
    background-color: rgb(197, 42, 7);
}

/* ------ FOOTER _____ RODAPÉ -----------------------------------------------------------------------------------------------------------------------------*/

footer {
    width: 100%;
    height: 350px;
    background-color: rgba(245, 245, 245);
    margin-top: 80px;
}