<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Loja</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="HomePage.html">Home</a></li>
            <li><a href="CadastroCliente.html">Cadastro Cliente</a></li>
            <li><a href="CadastroFuncionario.html">Cadastro Funcionário</a></li>
            <li><a href="CadastroProdutos.html">Cadastro Produto</a></li>
            <li><a href="VisualizarClientes.html">Ver clientes</a></li>
            <li><a href="VisualizarFuncionarios.html">Ver Funcionários</a></li>
            <li><a href="VisualizarProdutos.html">Ver Produtos</a></li>
        </ul>
    </nav>
    <section id="CadastroLoja">
        <h2>Cadastrar Loja</h2>
        <div class="linha">
            <input type="text" placeholder="Nome da Loja">
        </div>
        <div class="linha">
            <input type="text" placeholder="CNPJ">
        </div>
        <div class="linha">
            <input type="text" placeholder="Endereço">
        </div>
        <div class="linha">
            <button>CADASTRAR</button>
        </div>
    </section>
</body>
</html>