<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cupom de Desconto</title>
</head>
<body>
    <header>
        <img src="../assets/img/logo.png">
        <h1>Xhopii</h1>
        <h4>Sair</h4>
    </header>
    <nav>
        <ul>
            <li><a href="HomePage.html">Home</a></li>
            <li><a href="CadastroCliente.html">Cadastro Cliente</a></li>
            <li><a href="CadastroFuncionario.html">Cadastro Funcionário</a></li>
            <li><a href="CadastroProdutos.html">Cadastro Produto</a></li>           
            <li><a href="VisualizarClientes.html">Ver clientes</a></li>
            <li><a href="VisualizarFuncionarios.html">Ver Funcionários</a></li>
            <li><a href="VisualizarProdutos.html">Ver Produtos</a></li>
        </ul>
    </nav>
    <section id="CadastroCupom">
        <h2>Cadastrar Cupom</h2>
        <div class="linha">
            <input type="text" placeholder="Código (Ex: XHOPII10)">
        </div>
        <div class="linha">
            <input type="number" placeholder="Desconto (%)">
        </div>
        <div class="linha">
            <input type="date" placeholder="Data de Validade">
        </div>
        <div class="linha">
            <button>CADASTRAR</button>
        </div>
    </section>
    
</body>
</html>