<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
</head>
<body>
    <header>
        <img src="../assets/img/logo.png">
        <h1>Xhopii</h1>
        <h4>Sair</h4>
    </header>
    <nav>
        <ul>
            <li><a href="HomePage.html">Home</a></li>
            <li><a href="CadastroCliente.html">Cadastro Cliente</a></li>
            <li><a href="CadastroFuncionario.html">Cadastro Funcionário</a></li>
            <li><a href="CadastroProdutos.html">Cadastro Produto</a></li>
            <li><a href="VisualizarClientes.html">Ver clientes</a></li>
            <li><a href="VisualizarFuncionarios.html">Ver Funcionários</a></li>
            <li><a href="VisualizarProdutos.html">Ver Produtos</a></li>
        </ul>
    </nav>
    <section id="CadastroProduto">
        <h2>Cadastrar Cliente</h2>
        <div class="linha">
            <input type="text" placeholder="Nome">   
        </div>
        <div class="linha">
            <input type="text" placeholder="Fabricante">
        </div>
        <div class="linha">
            <input type="text" placeholder="Descrição">
        </div>
        <div class="linha">
            <input type="number" placeholder="Valor">
        <div class="linha">
            <input type="text" placeholder="Quantidade">
        </div>
        <div class="linha">
            <h4>Selecionar fotos do produto</h4> 
        </div>
        <div class="linha">
            <button>Escolher arquivo</button>
            <p>Nenhum arquivo escolhido</p>
        </div>
        <div class="linha">
            <button>CADASTRAR</button>
        </div>
    </section>
    <footer>
    
    </footer>
</body>
</html>