<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header>
        <section class="headerLaranja">
            <img src="../assets/img/logo.png">
            <h1>Xhopii</h1>
            <h4>Sair</h4>  
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        </section>
    </header>
    <nav id="Laranja" class="menuHorizontal">
        <ul>
            <li><a href="HomePage.html">Home</a></li>
            <li><a href="CadastroCliente.html">Cadastro Cliente</a></li>
            <li><a href="CadastroFuncionario.html">Cadastro Funcionário</a></li>
            <li><a href="CadastroProdutos.html">Cadastro Produto</a></li>
            <li><a href="VisualizarClientes.html">Ver clientes</a></li>
            <li><a href="VisualizarFuncionarios.html">Ver Funcionários</a></li>
            <li><a href="VisualizarProdutos.html">Ver Produtos</a></li>
        </ul>
    </nav>
    <section id="carrossel">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../assets/img/carousel-1.jpg" class="d-block w-100" alt="Xhopii mês do consumidor">
                </div>
                <div class="carousel-item">
                    <img src="../assets/img/carousel-2.jpg" class="d-block w-100" alt="Promoção Páscoa Xhopii e Cacau Show">
                </div>
                <div class="carousel-item">
                    <img src="../assets/img/carousel-3.jpg" class="d-block w-100" alt="Nunca faça pagamentos em outra plataforma">
                </div>
                <div class="carousel-item">
                    <img src="../assets/img/carousel-4.jpg" class="d-block w-100" alt="Nunca faça pagamentos em outra plataforma">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <div id="promo">
        <img src="../assets/img/home-promocao.png">
    </div>
    <section id="produtos">
        <div class="grid-produtos">
            <a href="Produto.html">
                    <div class="card-produto">
                        <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End">
                        <div class="info-card">
                            <h3>Camisa Desenvolvedor Front-End CSS</h3>
                            <p class="detalhes"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                            <p class="detalhes"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas</p>
                            <div class="preco-estoque">
                                <p class="preco-card">R$ 59,90</p>
                                <p class="estoque-card">171 disponíveis</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Produto.html">
                    <div class="card-produto">
                        <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End">
                        <div class="info-card">
                            <h3>Camisa Desenvolvedor Front-End CSS</h3>
                            <p class="detalhes"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                            <p class="detalhes"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas</p>
                            <div class="preco-estoque">
                                <p class="preco-card">R$ 59,90</p>
                                <p class="estoque-card">171 disponíveis</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Produto.html">
                    <div class="card-produto">
                        <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End">
                        <div class="info-card">
                            <h3>Camisa Desenvolvedor Front-End CSS</h3>
                            <p class="detalhes"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                            <p class="detalhes"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas</p>
                            <div class="preco-estoque">
                                <p class="preco-card">R$ 59,90</p>
                                <p class="estoque-card">171 disponíveis</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Produto.html">
                    <div class="card-produto">
                        <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End">
                        <div class="info-card">
                            <h3>Camisa Desenvolvedor Front-End CSS</h3>
                            <p class="detalhes"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                            <p class="detalhes"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas</p>
                            <div class="preco-estoque">
                                <p class="preco-card">R$ 59,90</p>
                                <p class="estoque-card">171 disponíveis</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Produto.html">
                    <div class="card-produto">
                        <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End">
                        <div class="info-card">
                            <h3>Camisa Desenvolvedor Front-End CSS</h3>
                            <p class="detalhes"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                            <p class="detalhes"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas</p>
                            <div class="preco-estoque">
                                <p class="preco-card">R$ 59,90</p>
                                <p class="estoque-card">171 disponíveis</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Produto.html">
                    <div class="card-produto">
                        <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End">
                        <div class="info-card">
                            <h3>Camisa Desenvolvedor Front-End CSS</h3>
                            <p class="detalhes"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                            <p class="detalhes"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas</p>
                            <div class="preco-estoque">
                                <p class="preco-card">R$ 59,90</p>
                                <p class="estoque-card">171 disponíveis</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Produto.html">
                    <div class="card-produto">
                        <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End">
                        <div class="info-card">
                            <h3>Camisa Desenvolvedor Front-End CSS</h3>
                            <p class="detalhes"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                            <p class="detalhes"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas</p>
                            <div class="preco-estoque">
                                <p class="preco-card">R$ 59,90</p>
                                <p class="estoque-card">171 disponíveis</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Produto.html">
                    <div class="card-produto">
                        <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End">
                        <div class="info-card">
                            <h3>Camisa Desenvolvedor Front-End CSS</h3>
                            <p class="detalhes"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                            <p class="detalhes"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas</p>
                            <div class="preco-estoque">
                                <p class="preco-card">R$ 59,90</p>
                                <p class="estoque-card">171 disponíveis</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Produto.html">
                    <div class="card-produto">
                        <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End">
                        <div class="info-card">
                            <h3>Camisa Desenvolvedor Front-End CSS</h3>
                            <p class="detalhes"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                            <p class="detalhes"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas</p>
                            <div class="preco-estoque">
                                <p class="preco-card">R$ 59,90</p>
                                <p class="estoque-card">171 disponíveis</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Produto.html">
                    <div class="card-produto">
                        <img src="../assets/img/produto1.png" alt="Camisa Desenvolvedor Front-End">
                        <div class="info-card">
                            <h3>Camisa Desenvolvedor Front-End CSS</h3>
                            <p class="detalhes"><strong>Fabricante:</strong> Eletiva Uniformes</p>
                            <p class="detalhes"><strong>Descrição:</strong> Uma Camisa ideal para programar por mais de 12 horas</p>
                            <div class="preco-estoque">
                                <p class="preco-card">R$ 59,90</p>
                                <p class="estoque-card">171 disponíveis</p>
                            </div>
                        </div>
                    </div>
                </a>
        </div>
    </section>
    
    <footer>
        <div id="footerConteudo">
            <section class="footer">
                <h5>ATENDIMENTO AO CLIENTE</h5> 
                <p>Central de ajuda</p>
                <p>Como comprar</p>
                <p>Métodos de pagamento</p>
                <p>Gerente Xhopii</p>
                <p>Devolução e reembolso</p>
                <p>Fale conosco</p>
                <p>Outdoors</p>   
            </section>
            <section class="footer">
                <h5>SOBRE A XHOPII</h5> 
                <p>Sobre nós</p>
                <p>Políticas Xhopii</p>
                <p>Política de privacidade</p>
                <p>Programa de afiliados da Xhopii</p>
                <p>Seja um entregador Xhopii</p>
                <p>Ofertas relâmpago</p>
                <p>Xhopii Blog</p> 
                <p>Imprensa</p>
            </section>
            <section class="sessaoPagamento">
                <h5>PAGAMENTO</h5>
                <div class="gridPagamentos">
                    <img src="../assets/img/logo-pix.png">
                    <img src="../assets/img/logo-boleto.png">
                    <img src="../assets/img/logo-american-express.png">
                    <img src="../assets/img/logo-visa.png">
                    <img src="../assets/img/logo-mastercard.png">
                    <img src="../assets/img/logo-hipercard.png">
                    <img src="../assets/img/logo-elo.png">
                </div>
            </section>
            <section id="footer">
                <h5>SIGA-NOS</h5>
                <div class="social">
                    <img id="iconredes" src="../assets/img/logo-instagram.png">
                    <p>Instagram</p>    
                </div>
                <div class="social">
                    <img id="iconredes" src="../assets/img/logo-twitter.png">
                    <p>Twitter</p>    
                </div>
                <div class="social">
                    <img id="iconredes" src="../assets/img/logo-facebook.png">
                    <p>Facebook</p>    
                </div>
                <div class="social">
                    <img id="iconredes" src="../assets/img/logo-youtube.png">
                    <p>Youtube</p>    
                </div>
                <div class="social">
                    <img id="iconredes" src="../assets/img/logo-linkedln.png">
                    <p>Linkedin</p>    
                </div>
            </section>
            <section id="elementosParaCentralizar">
                <h5>ATENDIMENTO AO CLIENTE</h5>
                <img src="../assets/img/qr-code.png">
                <img src="../assets/img/logo-google-play.png">
                <img src="../assets/img/logo-store-apple.png">
            </section>    
        </div>
        <hr id="linhafooter">
        <p id="copyright">
            © 2023 Xhopii. Todos os direitos acadêmicos reservados
        </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>