<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <img src="../assets/img/logo.png">
    <h1>Xhopii</h1>
    <h4>Sair</h4>
</header>
<nav>
    <ul>
        <li><a href="HomePage.html">Home</a></li>
        <li><a href="CadastroCliente.html">Cadastro Cliente</a></li>
        <li><a href="CadastroFuncionario.html">Cadastro Funcionário</a></li>
        <li><a href="CadastroProdutos.html">Cadastro Produto</a></li>
        <li>Ver clientes</li>
        <li>Ver Funcionários</li>
        <li><a href="VisualizarProdutos.html">Ver Produtos</a></li>
    </ul>
</nav>
<body>
    <section id="carrossel">

    </section>
    <div id="ad">

    </div>
    <section id="produtos">
        <div id="CaixaProduto">

        </div>
    </section>
</body>
<footer>
    
</footer>
</html>