<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Xhopii </title>
</head>
<header>
    <img src="../assets/img/logo.png" id="logoxhopii"><img>
    <h2>Xhopii</h2>
    <h3>Entre</h3>
    <h5>Precisa de ajuda?</h5>
</header>
<body>
    
    <section id="login">
        <h3>Login</h3>
        <div class="linha">
            <input placeholder="Email">
        </div>
        <div class="linha">
            <input placeholder="Senha">
        </div>
        <button id="entre" href="HomePage.html">Entre</button>
        <div class="linha">
            <a href="RedefinirSenha.html">Esqueci minha senha</a>
            <a id="sms">Fazer login pelo SMS</a>
        </div>
        <p id="ou">OU</p>
        <div class="linha">
            <button >
                <img src="../assets/img/logo-facebook.png">
                Facebook
            </button>
            <button>
                <img src="../assets/img/logo-google.png">
                Google
            </button>
            <button>
                <img src="../assets/img/logo-apple.png">
                Apple
            </button>
        </div>
        <div id="CTA">
            <p>Novo na Xhopii?</p>
            <a id="cadastrar" href="CadastroCliente.html">Cadastrar</a>
        </div>
    </section>
<footer>

</footer>
</body>
</html>