<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header>
        <img src="../assets/img/logo.png">
        <h1>Xhopii</h1>
        <h4>Sair</h4>
    </header>
    <nav id="NavProduto">
        <ul>
            <li><a href="HomePage.html">Home</a></li>
            <li><a href="CadastroCliente.html">Cadastro Cliente</a></li>
            <li><a href="CadastroFuncionario.html">Cadastro Funcionário</a></li>
            <li><a href="CadastroProdutos.html">Cadastro Produto</a></li>
            <li><a href="VisualizarClientes.html">Ver clientes</a></li>
            <li><a href="VisualizarFuncionarios.html">Ver Funcionários</a></li>
            <li><a href="VisualizarProdutos.html">Ver Produtos</a></li>
        </ul>
    </nav>
    <div class="CamisetasCores">
        <img src="../assets/img/produto1.png" id="preta">
        <img src="../assets/img/produto2.png" id="azul">
        <img src="../assets/img/produto3.png" id="verde">
        <img src="../assets/img/produto4.png" id="cinza">
        <img src="../assets/img/produto5.png" id="rosa">
    </div>
    <div >
        <img src="../assets/img/produto1.png" id="ImgPrincipal">
    </div>
    <div>
        <h2>Camiseta Desenvolverdor Front-End CSS</h2>
        <h3>R$56,90</h3>
        <h5>171 peças disponíveis</h5>
        <h5>Modelos: </h5>
        <section class="cores">
            <button>Preto</button>
            <button>Azul</button>
            <button>Verde</button>
            <button>Cinza</button>
            <button>Rosa</button>
        </section>
        <h5>Tamanhos: </h5>
        <section class="tamanhos">
            <button>P</button>
            <button>M</button>
            <button>G</button>
            <button>GG</button>
        </section>
        <h5>Tamanho selecionado: P</h5>
        <button id="CTACompra">Comprar Agora</button>
    </div>
    <footer>
    
    </footer>
</body>
</html>